*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    align-items: center;

}
.link{
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    transition: font size 1s;
}
.link:hover{
    font-size: 40px;
}
#home{
    padding: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgs{
    position: relative;
}
#pro{
    height: 202px;
    position: absolute;
    left: 130px;
    top: 38px;
}
#bg{
    width: 72%;
}


.down{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;

}
.abt_container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px;
    column-gap: 20px
}
.abt_img1{
    width: 100%;

}
.abt_para{
    text-align: justify;
}

html{
    scroll-behavior: smooth;
}
